
  body {
    background-color: grey;
  }

  hr {
    border-style: dotted none none;
    border-color: #27AA80;
    border-width: 10px;
    width: 10%;

    vertical-align: baseline;
  }

  img {
    height: 600px;
    }
.avatar> img{height: 400px;
border-radius: 50%;

}

.mainicon> iframe{
    border-color: #A8FF3E;
    border-width: 5px;
    width: 5px;
  }

  .player> iframe{
    border-color: #A8FF3E;
  
  }

h1 {color: #A8FF3E;}
h2 {color: #32FF6A;}
h4 {color: #F4FF61;}
